body {
  font-family: 'Ubuntu', sans-serif;
}
#main {
  padding-top: 60px;
}
#link_logo {
  position: relative;
  top: -2px;
  padding-bottom: 0px;
}
#link_logo img {
  height: 30px;
}
#contact {
  text-align: right;
}
