.man {
  background-image: url("/img/cam.jpg");
  background-position: left top;
  background-repeat: no-repeat;
  height: 300px;
  background-size: contain;
  -webkit-box-reflect: below 1px -webkit-gradient(linear, 0% 0%, 0% 100%, from(transparent), color-stop(0.85, transparent), to(#fff)) 0 fill stretch stretc;
}
.wallpaper {
  max-height: 180px;
  margin: 0 5px 15px 0;
  border-radius: 5px;
  -webkit-box-shadow: 2px 2px 5px #aaa;
}
.title {
  width: 150px;
  margin: 0 auto 0;
  border-radius: 5px;
  -webkit-box-shadow: 2px 2px 5px #aaa;
}
.icon {
  -webkit-box-shadow: 1px 1px 2px #aaa;
  border: 1px solid #ccc;
  border-radius: 2px;
}
