{% extends "base.html" %}

{% block style %}
  .vender {
    margin: 0 8px 10px 0;
    width: 120px;
    height: 50px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    display: inline-block;
    -webkit-transition: -webkit-transform 0.5s, opacity 1s;
    opacity: 0.6;
  }
  
  .vender:hover {
    -webkit-transform: translate(0, -2px);
    opacity: 1;
  }
{% endblock %}


{% block content %}    
<!-- Main hero unit for a primary marketing message or call to action -->
<div class="hero-unit" style="background-image: url(image/psg/cover.png)">
  <h1>PSG全新推出</h1>
  <p>由台灣第一溜溜球品牌Adegleyoyos所製作的PSG開始販賣了！<br />顏色繽紛的PSG適合所有剛接觸溜溜球的新朋友。</p>
  <p><a class="btn primary large" href="/product">詳細訊息 &raquo;</a></p>
</div>

<!-- Example row of columns -->
<div class="row">
  <div class="span6">
    <h2>產品介紹</h2>
    <p>在你選購溜溜球時，你會希望它能擁有絕佳性能、在線上能夠滑順運行。Adegleyoyos 的溜溜球正是如此，因為我們的設計不只是讓它美觀漂亮，而且也讓它同樣地持久耐用。</p>
    <p><a class="btn" href="/product">進一步了解 &raquo;</a></p>
  </div>
  <!--
  <div class="span5">
    <h2>線上教學</h2>
     <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
    <p><a class="btn" href="#">View details &raquo;</a></p>
 </div>
  -->
  <div class="span5">
    <h2>相關下載</h2>
    <p>想要展現你對溜溜球的熱愛嗎？把你的電腦桌布換成我們為你精心設計的桌布吧！這邊還有 Adegleyoyos 產品相關的免費 DIY 資源，快來創作專屬於自己的溜溜球吧！</p>
    <p><a class="btn" href="/download">免費下載 &raquo;</a></p>
  </div>
</div>


<footer style="margin: 80px 0 0 0;">
  <div class="row">
    <div class="span16">
      <a href="http://www.hiya.tw/" target="_blank">
        <div class="vender" style="background-image: url(image/vender/hiya.png);"></div></a>
        
      <a href="http://www.kittystring.com/" target="_blank">
        <div class="vender" style="background-image: url(image/vender/kittystring.png);"></div></a>
        
      <a href="http://ozhiriz.com/" target="_blank">
        <div class="vender" style="background-image: url(image/vender/ozhiriz.png);"></div></a>
        
      <a href="http://class.ruten.com.tw/user/index00.php?s=wingstyle" target="_blank">
        <div class="vender" style="background-image: url(image/vender/ruten.png);"></div></a>
        
      <a href="http://www.rakuten.ne.jp/gold/yo-yo/" target="_blank">
        <div class="vender" style="background-image: url(image/vender/spingear.png);"></div></a>
        
      <a href="http://www.spinworkx.com/Spinworkx/home.html" target="_blank">
        <div class="vender" style="background-image: url(image/vender/spinworkx.png);"></div></a>
        
      <a href="https://www.facebook.com/YoyoCorner" target="_blank">
        <div class="vender" style="background-image: url(image/vender/yoyocorner.png);"></div></a>

      <a href="http://www.yoyonation.com/" target="_blank">
        <div class="vender" style="background-image: url(image/vender/yoyonation.png);"></div></a>
        
      <a href="http://yoyoz.co.uk/" target="_blank">
        <div class="vender" style="background-image: url(image/vender/yoyoz.png);"></div></a>
   
    </div>
  </div>
</footer>
{% endblock %} 