{% extends "base.html" %}

{% block style %}
  .cover {
    border-radius: 10px;
    margin: 0 0 20px;
  }
  
  .thumbnail{
    float: left;
    margin: 2px;
    width: 100px;
    height: 100px;
    z-index: 0;
    border: 1px solid #ddd;
  }
  
  .thumbnail > img{
    max-width: 100px;
  }

  .thumbnail:hover{
    background-color: transparent;
    z-index: 50;
  }

  .thumbnail span{ /*CSS for enlarged image*/
    clear: left;
    position: relative;
    left: -1000px;
    visibility: hidden;
  }

  .thumbnail span img{ /*CSS for enlarged image*/
    width: 640px;
  }

  .thumbnail:hover span{ /*CSS for enlarged image on hover*/
    visibility: visible;
    top: 4px;
    left: 0px; /*position where enlarged image should offset horizontally */
  }
  
  .vender {
    padding: 0 8px 0 0;
    max-width: 150px;
    max-height: 120px;
    vertical-align: middle;
    -webkit-transition: -webkit-transform 0.5s;
  }
  
  .vender:hover {
    -webkit-transform: translate(-3px, 0);
  }
  
  .cover {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
  }
  
  .modal {
    background-color: black;
  }
  
  .modal-header {
    color: white;
  }
  
  .modal-backdrop {
    width: 100%;
  }
  
  .modal {
    width: 940px;
    margin: -240px 0 0 -470px;
  }
  
  .modal.fade.in {
    top: 40%;
  }
  
  .fb_like{
    margin: 0 0 20px;
  }
  
  .gallery_title{
    margin-top: 40px;
  }
  
  .feature_title{
    font-weight: 900;
    font-size: x-large;
    color: #333;
  }
  
  .feature_content{
    font-size: medium;
    line-height: 125%;
    color: #777;
    margin-top: 10px;
  }
  
{% endblock %}


{% block facebook %}
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) {return;}
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/zh_TW/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
{% endblock %}

    
{% block content %}
<ul class="pills" data-tabs="tabs">
  <li class="active"><a href="#roc"><span id="roc_anc">Roc</span></a></li>
  <li><a href="#psg"><span id="psg_anc">PSG</span></a></li>
  <li><a href="#comet"><span id="comet_anc">Comet</span></a></li>
  <li><a href="#glaze"><span id="glaze_anc">Glaze</span></a></li>
  <!--<li><a href="#rhongto">RhongTo</a></li>-->
  <!--<li><a href="#sandglass">Sandglass</a></li>-->
  <!--<li><a href="#formosa">Formosa</a></li>-->
  <!--<li><a href="#n235">N23.5&deg;</a></li>-->
</ul>

<div id="my-tab-content" class="tab-content">
  <div class="active tab-pane" id="roc">
    <div class="hero-unit" style="background-image: url(image/roc/cover.png);">
      <h1>ROC全新推出</h1>
      <p>
        挑戰全新溜溜球玩法<br />
        全身雪白的大鵬將要展翅高飛<br />
        <br />
        <br />
      </p>
    </div>
    
    <div class="row">
      <div class="span16 fb_like">
        <div class="fb-like" data-href="http://www.adegle.com/product#roc" data-send="false" data-width="450" data-show-faces="false"></div>
      </div>
    </div>
    
    <div class="row">
      <div class="span4">
        <h2>規格</h2>
        <dl>
          <dt>Shape</dt>
          <dd>Sandglass</dd>
          
          <dt>Weight</dt>
          <dd>82.8 g</dd>
          
          <dt>Width</dt>
          <dd>51.2 ~ 52.2 mm</dd>
          
          <dt>Effective Width</dt>
          <dd>47.2 ~ 48.2 mm</dd>
          
          <dt>Diameter</dt>
          <dd>77.0 mm</dd>
          
          <dt>Gap Width</dt>
          <dd>2.2 ~ 3.2 mm</dd>
          
          <dt>Bearing Size</dt>
          <dd>Half C Bearing</dd>
          
          <dt>Gap Type</dt>
          <dd>Spacer</dd>
          
          <dt>Stock Response System</dt>
          <dd>Silicone (thickness 1 mm)</dd>
        </dl>
        
        <div id="modal_roc" class="modal hide fade" >
          <div class="modal-header">
            <a href="#" class="close" onclick="clear_gallery('roc')">&times;</a>
            <h3>Roc 圖片集</h3>
          </div>
          <div class="modal-body" id="gallery_roc"></div>
        </div>
        <button data-controls-modal="modal_roc" data-backdrop="true" data-keyboard="true" class="btn primary" onclick="add_gallery('roc', 14);">更多圖片 &raquo;</button> 
      </div>
      
      <div class="span12" style="background-image: url(image/roc/feature/all.png); height: 1200;">
        <div style="position: relative; top: 120; left: 150">
          <div class="feature_title">更可靠的軸心設計</div>
          <div class="feature_content">
            使用較粗的不鏽鋼軸心<br />
            金屬製的墊片及軸心座使溜溜球更加耐用<br />
            不鏽鋼軸承免去生鏽的煩惱<br />
            軸心所有的零件就算損壞或遺失<br />
            還是能夠購買專用零件進行更換
          </div>
        </div>
        
        <div style="position: relative; top: 450; left: 80">
          <div class="feature_title">交換式墊片設計</div>
          <div class="feature_content">
            可輕易鎖定您喜愛的球體寬度<br />
            切換成寬軸承切換成線上玩法時<br />
            超級寬大的線上玩法溜溜球絕對是眾人目光的焦點
          </div>
        </div>
        
        <div style="position: relative; top: 750; left: 260">
          <div class="feature_title">CNC一體成形的耐衝擊工程塑膠</div>
          <div class="feature_content">
            由電腦數位控制一體成形的高精度溜溜球<br />
            使溜溜球性能更穩定及強勁<br />
            讓溜溜球更不易變形、更加耐用
          </div>
        </div>
      </div>
      
    </div>
  </div><!--roc-->
  
  <div class="tab-pane" id="psg">
    <div class="hero-unit" style="background-image: url(image/psg/cover.png);">
      <h1>PSG</h1>
      <p>
        鮮豔繽紛的配色大膽的展現玩心<br />
        最適合初次接觸溜溜球的你<br />
        <br />
        <br />
      </p>
    </div>
    
    <div class="row">
      <div class="span16 fb_like">
        <div class="fb-like" data-href="http://www.adegle.com/product#psg" data-send="false" data-width="450" data-show-faces="false"></div>
      </div>
    </div>
    
    <div class="row">
      <div class="span4">
        <h2>規格</h2>
        <dl>
          <dt>Shape</dt>
          <dd>Sandglass</dd>
          
          <dt>Weight</dt>
          <dd>64.3 g</dd>
          
          <dt>Width</dt>
          <dd>46 mm</dd>
          
          <dt>Effective Width</dt>
          <dd>37.56 mm</dd>
          
          <dt>Diameter</dt>
          <dd>55 mm</dd>
          
          <dt>Gap Width</dt>
          <dd>4.2 mm</dd>
          
          <dt>Bearing Size</dt>
          <dd>C Bearing</dd>
          
          <dt>Gap Type</dt>
          <dd>Spacer</dd>
          
          <dt>Stock Response System</dt>
          <dd>Silicone (thickness 1 mm)</dd>
        </dl>
        
        <div id="modal_psg" class="modal hide fade" >
          <div class="modal-header">
            <a href="#" class="close" onclick="clear_gallery('psg')">&times;</a>
            <h3>PSG 圖片集</h3>
          </div>
          <div class="modal-body" id="gallery_psg"></div>
        </div>
        <button data-controls-modal="modal_psg" data-backdrop="true" data-keyboard="true" class="btn primary" onclick="add_gallery('psg', 18);">更多圖片 &raquo;</button> 
      </div>
      
      <div class="span12">
        <div style="background-image: url(image/psg/feature/1.png); width: 431; height: 474; position: relative;"></div>
        <div style="background-image: url(image/psg/feature/2.png); width: 169; height: 377; position: relative; float: right; top: -123;"></div>
        <div style="background-image: url(image/psg/feature/3.png); width: 199; height: 531; position: relative; top: 10;"></div>
        
        <div style="position: relative; top: -930; left: 320">
          <div class="feature_title">耐用、耐衝擊且易保養</div>
          <div class="feature_content">
            使用的塑膠材料能承受大部份遊玩時的衝擊<br />
            且選用與市面上的溜溜球相比更加粗壯的軸心<br />
            再加上金屬製軸承底座使溜溜球更加穩定耐用<br />
            預先處理過的不鏽鋼軸承<br />
            讓您從打開包裝的瞬間就可以全力空轉
          </div>
        </div>
        
        <div style="position: relative; top: -580; left: 250">
          <div class="feature_title">色彩繽紛的經典弧線</div>
          <div class="feature_content">
            裕和商店最著名的沙漏弧線<br />
            讓你在收發球時更加的舒適自然<br />
            同時提升招式與招式間的流暢性
          </div>
        </div>
        
        <div style="position: relative; top: -350; left: 210">
          <div class="feature_title">獨特的外蓋設計</div>
          <div class="feature_content">
            PSG優異性能的來源<br />
            精心調整的重量適合各階段的玩家
          </div>
        </div>
      </div>
    </div>
  </div><!--psg-->
  
  <div class="tab-pane" id="comet">
    <div class="hero-unit" style="background-image: url(image/comet/cover.png);">
      <h1>Comet</h1>
      <p>
        Adegleyoyos x 新加坡溜溜球冠軍 Iskandar Shah 跨國合作<br />
        充滿侵略性的惹火外觀<br />
        讓你不管在何處都是最搶眼的新星<br />
        <br />
      </p>
    </div>
    
    <div class="row">
      <div class="span16 fb_like">
        <div class="fb-like" data-href="http://www.adegle.com/product#comet" data-send="false" data-width="450" data-show-faces="false"></div>
      </div>
    </div>
    
    <div class="row">
      <div class="span4">
        <h2>規格</h2>
        <dl>
          <dt>Shape</dt>
          <dd>Sandglass</dd>
          
          <dt>Weight</dt>
          <dd>68.5 g</dd>
          
          <dt>Width</dt>
          <dd>40.0 mm</dd>
          
          <dt>Effective Width</dt>
          <dd>35.36 mm</dd>
          
          <dt>Diameter</dt>
          <dd>56 mm</dd>
          
          <dt>Gap Width</dt>
          <dd>4.56 mm</dd>
          
          <dt>Bearing Size</dt>
          <dd>C Bearing</dd>
          
          <dt>Gap Type</dt>
          <dd>Fixed</dd>
          
          <dt>Stock Response System</dt>
          <dd>Silicone (thickness 1 mm)</dd>
        </dl>
        
        <div id="modal_comet" class="modal hide fade">
          <div class="modal-header">
            <a href="#" class="close" onclick="clear_gallery('comet')">&times;</a>
            <h3>Comet 圖片集</h3>
          </div>
          <div class="modal-body" id="gallery_comet"></div>
        </div>
    
        <button data-controls-modal="modal_comet" data-backdrop="true" data-keyboard="true" class="btn primary" onclick="add_gallery('comet', 12);">更多圖片 &raquo;</button> 
      </div>
    
      <div class="span12">
        
      </div>
    </div>
  </div><!--comet-->
  
  <div class="tab-pane" id="glaze">
    <div class="hero-unit" style="background-image: url(image/glaze/cover.png);">
      <h1>Glaze</h1>
      <p>
        優雅精細的古典花紋設計，一眼難忘<br />
        細緻緊實的金屬球體，讓溜溜球行雲流水地在手中來去自如<br />
        <br />
        <br />
      </p>
    </div>
    
    <div class="row">
      <div class="span16 fb_like">
        <div class="fb-like" data-href="http://www.adegle.com/product#glaze" data-send="false" data-width="450" data-show-faces="false"></div>
      </div>
    </div>
    
    <div class="row">
      <div class="span4">
        <h2>規格</h2>
        <dl>
          <dt>Shape</dt>
          <dd>Sandglass</dd>
          
          <dt>Weight</dt>
          <dd>63.6 g</dd>
          
          <dt>Width</dt>
          <dd>37.8 mm</dd>
          
          <dt>Effective Width</dt>
          <dd>32.96 mm</dd>
          
          <dt>Diameter</dt>
          <dd>50 mm</dd>
          
          <dt>Gap Width</dt>
          <dd>4.56 mm</dd>
          
          <dt>Bearing Size</dt>
          <dd>C Bearing</dd>
          
          <dt>Gap Type</dt>
          <dd>Fixed</dd>
          
          <dt>Stock Response System</dt>
          <dd>Silicone (thickness 0.5 mm)</dd>
        </dl>
        
        <div id="modal_glaze" class="modal hide fade">
          <div class="modal-header">
            <a href="#" class="close" onclick="clear_gallery('glaze')">&times;</a>
            <h3>Glaze 圖片集</h3>
          </div>
          <div class="modal-body" id="gallery_glaze"></div>
        </div>
    
        <button data-controls-modal="modal_glaze" data-backdrop="true" data-keyboard="true" class="btn primary" onclick="add_gallery('glaze', 18);">更多圖片 &raquo;</button>
      </div>
    
      <div class="span12">
        
      </div>
    </div>
  </div><!--glaze-->
  
  <div class="tab-pane" id="rhongto">
    <p>rhongtorhongtorhongtorhongtorhongtorhongtorhongtorhongtorhongtorhongtorhongtorhongtorhongtorhongtorhongtorhongtorhongtorhongtorhongto</p>
  </div><!--rhongto-->
  
  <div class="tab-pane" id="sandglass">
    <p>sandglasssandglasssandglasssandglasssandglasssandglasssandglasssandglasssandglasssandglasssandglasssandglasssandglasssandglasssandglass</p>
  </div><!--sandglass-->
  
  <div class="tab-pane" id="formosa">
    <p>formosaformosaformosaformosaformosaformosaformosaformosaformosaformosaformosaformosaformosaformosaformosaformosaformosaformosaformosaformosa</p>
  </div><!--formosa-->
  
  <div class="tab-pane" id="n235">
    <p>n235n235n235n235n235n235n235n235n235n235n235n235n235n235n235n235n235n235n235n235n235n235n235n235n235n235n235n235</p>
  </div><!--n235-->
</div>
{% endblock %}